body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings {
    height: 800;
    width: 400;
    margin-right: 100px;
    background-color: #2F2F2F;;
}